<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/js/google-code-prettify/prettify.css" rel="stylesheet">

    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/themes/twitter/img/glyphicons_324_tie.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/themes/twitter/img/glyphicons_324_tie.png">

  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
		 <h3><a href="/">Home</a> >> About StackGeek</h3>
		 <hr class="soften-small"/>
	     <article>
		    <h2>Company</h2>
		    <p>StackGeek is a Bay Area startup focused on the OpenStack private cloud project.  StackGeek consultants are experts at building scalable private and hybrid cloud solutions for companies looking to minimize their infrastructure spend.  StackGeek specializes in virtualization of purchased or leased equipment, networking and load balancer configuration, large scale storage solutions, and a variety of custom cloud infrastructure optimization.</p>
		<p>If you are interested in cloud technologies, or have a hankering for helping others configure, setup and deploy their own cloud infrastructure, <a href="mailto:joinus@stackgeek.com?subject='I'm a geek too!'">drop us a line</a>.  We'd love to hear from you.</p>
		<h3>Get in Touch</h3>
		<p>You can use the following information to contact us. You can also fill out our <a data-toggle="modal" href="#contactmodal">online contact form</a> to be contacted by a representative.</p>
		{% include themes/twitter/emailmodal.html %}
		<div id="address">
			<h4>StackGeek Inc.</h4>
			<p>1092 Sanders Drive&nbsp;<br>
			Moraga, CA 94556<br>
			email: info at stackgeek dot com<br/>
			(510) 230-3482</p></div>
		<p>&nbsp;</p>
		<div><ul class="thumbnails">
		  <li class="span5" float="right">
		    <div class="thumbnail">
	          <a class="thumbnail" href="http://g.co/maps/p7kk2"><img alt="Map to StackGeek" src="{{ ASSET_PATH }}/img/map.png"></a>
		    </div>
		  </li>
	    </div>
	    </article>
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->

    {% include themes/twitter/mixpanel.html %}
    {% include themes/twitter/jsincludes.html %}

    </div> <!-- /container -->

    <script type="text/javascript">
    $(document).ready(function() {
	
    });  // closes document ready function
    </script>
  </body>
</html>
