<div id="contactmodal" class="modal fade">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>Email StackGeek</h3>
  </div>
  <div class="modal-body">
	<div id="wufoo-z7x3x5"></div>
	<script type="text/javascript">var z7x3x5;(function(d, t) {
	var s = d.createElement(t), options = {
	'userName':'stackgeek', 
	'formHash':'z7x3x5', 
	'autoResize':true,
	'height':'577',
	'async':true,
	'header':'show'};
	s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
	s.onload = s.onreadystatechange = function() {
	var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
	try { z7x3x5 = new WufooForm();z7x3x5.initialize(options);z7x3x5.display(); } catch (e) {}};
	var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
	})(document, 'script');</script>
  </div>
</div>