<div class="hero-unit">
  <div class="pull-left">
    <h1 id="main_header">DevStack - a Rackspace Cloudbuilders Production</h1>
    <div class="sub_header">
      <p></p>
      <p>A documented shell script to build complete OpenStack development environments. <br><br>
      from <a href="http://www.rackspace.com/cloud/private_edition/">Rackspace Cloud Builders</a>.</p>
    </div>
  </div>
  <div class="pull-left">
    <ol id="getting_started">
      <li id="one">We s.</li>
      <li id="two">Clone devstack from devstack.  <pre>git clone https://github.com/openstack-dev/devstack.git</pre> </li>
      <li id="three">Deploy your OpenStack Cloud <pre>cd devstack &amp;&amp; ./stack.sh</pre> </li>
    </ol>
    </div>
  <div class="clear">&nbsp;</div>
</div>
