<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <header class="jumbotron masthead">
        <div class="inner">
          <h1>OpenStack Experts</h1>
          <p>We build private cloud solutions with <a href="http://openstack.org/">OpenStack</a>.  For you.</p>
          <p class="download-info">
	        <a class="btn btn-primary btn-large" data-toggle="modal" href="#contactmodal">Contact Us Today</a>
		    <a class="btn btn-large" data-toggle="modal" href="#demomodal">Watch a Demo</a>
		    <div id="contactmodal" class="modal fade">
		      <div class="modal-header">
		        <button class="close" data-dismiss="modal">&times;</button>
		        <h3>Email StackGeek</h3>
		      </div>
		      <div class="modal-body">
				<div id="wufoo-z7x3x5"></div>
				<script type="text/javascript">var z7x3x5;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'stackgeek', 
				'formHash':'z7x3x5', 
				'autoResize':true,
				'height':'577',
				'async':true,
				'header':'show'};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { z7x3x5 = new WufooForm();z7x3x5.initialize(options);z7x3x5.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>
              </div>
		    </div>
			<div id="demomodal" class="modal fade">
		      <div class="modal-header">
		        <button class="close" data-dismiss="modal">&times;</button>
		        <h3>OpenStack Demo</h3>
		      </div>
		      <div class="modal-body">
				<div id="wufoo-z7x3x5"></div>

              </div>
		    </div>
          </p>
        </div>
      
        <div class="bs-links">
          <ul class="quick-links">
            <li class="github-btn">
              <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=stackgeekdev&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165px" height="20px"></iframe>
            </li>
            <li class="follow-btn">
              <a href="https://twitter.com/stackgeek" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @stackgeek</a>
            </li>
            <li class="tweet-btn">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://stackgeek.com/" data-count="horizontal" data-via="stackgeek" data-related="stackgeek:StackGeek">Tweet</a>
            </li>
          </ul>
        </div>
      </header>

	<hr class="soften">

	<div class="marketing">
	  <h1>Save thousands a month on infrastructure.</h1>
	  <p class="marketing-byline">StackGeek can help you.  Here's how.</p>
	  <div class="row">
	    <div class="span4">
	      <img class="bs-icon" src="assets/themes/twitter/img/glyphicons_087_log_book.png">
	      <h2>Setup Guides</h2>
	      <p>Setup and test your first OpenStack deployment using our scripts, setup guides and videos.  We here to assist in evaluating OpenStack's technology for use in your organization.</p>
	    </div>
	    <div class="span4">
	      <img class="bs-icon" src="assets/themes/twitter/img/glyphicons_367_amazon.png">
	      <h2>AWS Support</h2>
	      <p>You don't have to spend hours rewriting your deployment code to use OpenStack. 95% of Amazon's EC2/S3 calls are supported out of the box.  We'll help with the other 5%.</p>
	    </div>
	    <div class="span4">
	      <img class="bs-icon" src="assets/themes/twitter/img/glyphicons_054_clock.png">
	      <h2>Save Time and Money</h2>
	      <p>Cut your evaluation and deployment costs by leveraging our infrastructure knowledge.  We help you build scalable solutions for your current software architecture.</p>
	    </div>
	  </div><!--/row-->
	  <div class="row">
	    <div class="span4">
	      <img class="bs-icon" src="assets/themes/twitter/img/glyphicons_155_show_thumbnails.png">
	      <h2>Infinite Scaling</h2>
	      <p>OpenStack deployments can manage thousands of compute and storage nodes.  Provision server flavors and host targets for the hungriest compute based applications.</p>
	    </div>
	    <div class="span4">
	      <img class="bs-icon" src="assets/themes/twitter/img/glyphicons_239_riflescope.png">
	      <h2>Targeted Deployments</h2>
	      <p>Deploy on-demand instances for development, staging, QA and production environments.  Effortlessly use lower cost hardware for development and beefier hardware for production.</p>
	    </div>
	    <div class="span4">
	      <img class="bs-icon" src="assets/themes/twitter/img/glyphicons_037_credit.png">
	      <h2>Big Time Storage</h2>
	      <p>OpenStack integrates with Rackspace's Swift storage project.  Swift provides a redundant, S3 compatible storage layer to your cloud using your existing resources.</p>
	    </div>
	  </div><!--/row-->
	  <div class="row">
	    <div class="span4">
	      <img class="bs-icon" src="assets/themes/twitter/img/glyphicons_083_random.png">
	      <h2>Complex Networking</h2>
	      <p>OpenStack provides a powerful layer 4 routing network layer with private and public addressing.  StackGeek provides solutions for more complex configurations for global load balancing and layer 7 routing.</p>
	    </div>
	    <div class="span4">
	      <img class="bs-icon" src="assets/themes/twitter/img/glyphicons_023_cogwheels.png">
	      <h2>Custom Images</h2>
	      <p>Build and launch RHEL, CentOS and Fedora server configurations in minutes using StackGeek's Boxgrinder based appliance.  Store the configurations revisions in Github and share them with others. <span class="label label-important">Coming Soon!</span></p>
	    </div>
	    <div class="span4">
	      <img class="bs-icon" src="assets/themes/twitter/img/glyphicons_024_parents.png">
	      <h2>Join the Community</h2>
	      <p>Discuss, investigate and ask questions from our growing community of OpenStack users.  Write your own guides and share them with others.  Share deployment configurations, scripts, and more.</p>
	    </div>
	  </div><!--/row-->

	  <hr class="soften">


      <div class="content-home">
	      <div class="section twitter">
			<p><code id="tweet_date">Posted a few minutes past a while ago.</code>
	        <code>via <a href="http://twitter.com/stackgeek">@stackgeek</a></code></p>
	        <p><code id="tweet_tweet"></code></p>
	      </div>
      </div>

      <footer
        <p>&copy; {{ site.author.name }} 2012.  Build with <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a> and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>


    {% include JB/analytics %}
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{ ASSET_PATH }}/js/jquery.js"></script>
    <script src="{{ ASSET_PATH }}/js/google-code-prettify/prettify.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-alert.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-modal.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-dropdown.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-scrollspy.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-tab.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-tooltip.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-popover.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-button.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-collapse.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-carousel.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-typeahead.js"></script>

    </div> <!-- /container -->

    <script type="text/javascript">
    $(document).ready(function() {
		// Define: Linkify plugin
		(function($){
		  var url1 = /(^|&lt;|\s)(www\..+?\..+?)(\s|&gt;|$)/g,url2 = /(^|&lt;|\s)(((https?|ftp):\/\/|mailto:).+?)(\s|&gt;|$)/g,

		      linkifyThis = function () {
		        var childNodes = this.childNodes,
		            i = childNodes.length;
		        while(i--)
		        {
		          var n = childNodes[i];
		          if (n.nodeType == 3) {
		            var html = $.trim(n.nodeValue);
		            if (html)
		            {
		              html = html.replace(/&/g, '&amp;')
		                         .replace(/</g, '&lt;')
		                         .replace(/>/g, '&gt;')
		                         .replace(url1, '$1<a href="http://$2">$2</a>$3')
		                         .replace(url2, '$1<a href="$2">$2</a>$5');
		              $(n).after(html).remove();
		            }
		          }
		          else if (n.nodeType == 1  &&  !/^(a|button|textarea)$/i.test(n.tagName)) {
		            linkifyThis.call(n);
		          }
		        }
		      };
		  $.fn.linkify = function () {return this.each(linkifyThis);};

		})(jQuery);;
      // twitter
      $.getJSON('https://api.twitter.com/statuses/user_timeline/stackgeek.json?count=1&callback=?', function(tweetBlob) {
          if(tweetBlob[0].text) {
              $('#tweet_tweet').html(tweetBlob[0].text);
              $('#tweet_tweet').linkify();
              $("#tweet_date").html(tweetBlob[0].created_at);
          } else {
              $('#tweet_tweet').html('There was an error loading StackGeeks\'s Twitter feed.');
          }
      });
    });  // closes document ready function
    </script>
  </body>
</html>
