<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ ASSET_PATH }}/js/jquery.js"></script>
<script src="{{ ASSET_PATH }}/js/google-code-prettify/prettify.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-transition.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-alert.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-modal.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-dropdown.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-scrollspy.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-tab.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-tooltip.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-popover.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-button.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-collapse.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-carousel.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-typeahead.js"></script>